* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  /* //i NAVBAR  */
  
  a {
    text-decoration: none;
  }
  
  #active {
    color: #d9232d;
  }
  
  #header {
    position: fixed;
    padding: 19px;
    display: flex !important;
    background-color: #fff;
    align-items: center;
    height: 83px;
    width: 100%;
    justify-content: space-between;
    z-index: 12;
    box-shadow: 0px 2px 15px rgb(0 0 0/15%);
  }
  
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    /* position: relative; */
  }
  .navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0%;
  }
  .arrow-down {
    font-size: 77%;
    color: #ccbfbf;
  }
  
  ul a {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #556270;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 110px;
  }
  
  .navbar a {
    /* right: 4%; */
    color: #556270;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 31px;
    font-size: 15px;
  }
  
  .navbar li a:hover {
    color: #d9232d;
  }
  
  .logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    margin-left: 94%;
    line-height: 1;
    color: #556270;
  }
  
  #get-started {
    background-color: #d9232d;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 8px 25px;
    border-radius: 4px;
    margin-left: 28px;
  }
  
  /* //i DROPDOWN */
  ul {
    list-style-type: none;
  }
  /* li {
    float:none ;
  } */
  
  #dropdown {
    position: relative;
    width: 90%;
    display: none;
    background-color: #fff;
    left: 0;
    padding: 1%;
    box-shadow: 0px 2px 15px rgb(0 0 0/15%);
    z-index: 99;
    transition: 0.3s ease-in;
  }
  #dropdown a {
    width: max-content;
    padding: 9% 1% 1% 1%;
    margin: 0;
  }
  
  #deep-dropdown {
    position: relative;
    width: 91%;
    display: none;
    background-color: #fff;
    padding: 1% 2% 2% 4%;
    left: 100%;
    top: 71%;
    box-shadow: 0px 2px 15px rgb(0 0 0/15%);
  }
  
  #dropdown-hover:hover #dropdown {
    display: block;
  }
  
  #deep-hover:hover #deep-dropdown {
    display: block;
  }
  
  /* Responsive */
  @media (max-width: 1065px) {
    li {
      float: none;
      width: 100%;
    }
    ul {
      width: 100%;
    }
  
    .navbar {
      display: none;
    }
    .navbar li {
      float: none;
    }
  }
  
  .ham-menu {
    position: absolute;
    left: 85%;
    top: 28%;
  }
  .ham-menu svg {
    width: 28px;
    height: 28px;
  }
  
  @media (min-width: 1066px) {
    .ham-menu {
      display: none;
    }
  }
  @media (max-width: 430px) {
    /* main{
      width: 100%;
    } */
    #header {
      height: fit-content;
    }
    .logo {
      margin: 10%;
    }
  }
  
  .res-nav {
    display: none;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    top: 70%;
    right: 0;
    left: 0;
    bottom: 0;
    height: fit-content;
    box-shadow: 0px 2px 15px rgb(0 0 0/15%);
  }
  
  .res-nav ul {
    float: none;
    /* display: flex; */
  }
  .res-nav ul li {
    padding-left: 2%;
    margin: 3%;
  }
  
  #res-nav #get-started {
    margin: auto;
    padding: 2% 45% 2% 36%;
  }
  #res-nav #deep-dropdown {
    left: 0%;
    top: 90%;
  }
  
  @media (max-width: 1060px) {
    .parent-hover #ham-menu:hover + #res-nav {
      display: block;
    }
    #res-nav:hover {
      display: block;
    }
  }
  
  @media (max-width: 630px) {
    #res-nav #get-started {
      padding: 0% 27% 0% 27%;
    }
  }
  
  /* SECTION  */
  
  main {
    width: 100%;
    height: auto;
  }
  
  .section-container {
    height: auto;
  }
  .section-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://bootstrapmade.com/demo/templates/Sailor/assets/img/slide/slide-1.jpg);
    background-size: cover;
    width: 100%;
    height: 120vh;
  }
  .background-text {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 32px;
    text-align: center;
    align-items: center;
    width: 84%;
  }
  .background-text h2 {
    font-size: 48px;
    padding: 23% 0% 0% 19%;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .background-text p {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    /* padding: 0% 1% 0% 17%; */
    left: 9.5%;
  }
  
  .background-text #read-more-btn {
    color: #fff;
    background-color: #d9232d;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 14px 32px;
    border-radius: 4px;
    line-height: 1;
    letter-spacing: 1px;
  
    display: inline-block;
    margin: 2% 1% 1% 20%;
  }
  
  #about {
    font-family: "Raleway", sans-serif;
  }
  
  .about-container {
    width: 100%;
  }
  .content {
    display: flex;
    flex-direction: row;
    padding: 0 3% 0 3%;
    margin-top: 3%;
  }
  
  .ri-check-double-fill {
    color: #d9232d;
  }
  
  .col1 {
    width: 50%;
  }
  
  .col1 h2 {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    /* width: 50%; */
    padding: 2% 7% 0% 5%;
  }
  
  .col1 h3 {
    color: #444444;
    position: relative;
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  
    padding: 1% 0% 4% 6%;
  }
  
  .col2 {
    position: relative;
    width: 50%;
    margin: 1% 5% 0% 5%;
    line-height: 1.5;
  }
  
  .col2 .para1 {
    padding-bottom: 5%;
  }
  .col2 .para2 {
    padding-top: 5%;
    font-style: italic;
  }
  
  @media (max-width: 650px) {
    .col2 .para1 {
      font-size: 1rem;
    }
    .col2 .para2 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 680px) {
    /* main{
      width: 100%;
    } */
    .content {
      display: block;
    }
    .col1 {
      width: 100%;
    }
    .col2 {
      padding-right: 4%;
      width: 100%;
    }
    .background-text h2 {
      padding: 46% 0% 0% 13%;
    }
    .background-text p {
      padding: 0% 0% 3% 0%;
    }
  }
  
  /* Client container */
  
  .section-bg {
    background-color: #f8f9fa;
  }
  
  .client {
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  .client-container {
    margin-top: 4%;
  }
  .client-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1% 5% 1% 11%;
  }
  .client-row img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
  }
  .client-row img:hover {
    filter: none;
    transform: scale(1.15);
  }
  
  @media (max-width: 1060px) {
    .client-row {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 1% 7% 1% 15%;
    }
  }
  
  @media (max-width: 680px) {
    .client-row {
      display: grid;
      grid-template-columns: auto auto;
      padding: 1% 6% 1% 15%;
    }
  }
  
  /* Services Row */
  
  #services {
    padding: 3% 7% 0% 7%;
  }
  
  .services-row {
    display: grid;
    grid-template-columns: auto auto;
  }
  
  @media (max-width: 768px) {
    .services-row {
      grid-template-columns: auto;
      padding: 3% 7% 0% 7%;
    }
  }
  
  .col6 {
    color: #556270;
    background-color: #f8f9fa;
    margin: 1% 4% 1% 1%;
    border-radius: 6px;
  }
  
  .icon-box {
    margin-bottom: 20px;
    padding: 30px;
  }
  
  .services-container .icon-box i {
    float: left;
    color: #d9232d;
    font-size: 40px;
  }
  
  .services-container .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services-container .icon-box h4 a {
    color: #556270;
  }
  
  .services-container .icon-box h4 a:hover {
    color: #d9232d;
  }
  
  .services-container .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
  }
  
  /* Pagination  */

  .pagination-container {
    display: flex;
    justify-content: center;
    margin: 7% auto 20px auto;
  }
  .pagination-container a {
    padding: 0;
    list-style: none;
    text-align: center;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    border-radius: 3px;
    color: #556270;
  }

  #active-pagination {
    color: #fff;
    background-color: #d9232d;
  }
  .pagination-container a:hover {
    background-color: #d9232d;
    color: #fff;
  }
  
  /* Gallery  */
  
  #gallery {
    position: relative;
    width: 100%;
    /* height: 120px; */
    padding: 1% 7% 0% 7%;
  }
  
  #gallery-container img {
    max-width: 100%;
    height: auto;
    padding: 1% 2% 2% 3%;
  }
  
  #gallery-container {
    display: grid;
    /* position: relative; */
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
  }
  
  @media (max-width: 990px) {
    #gallery-container {
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: 768px) {
    #gallery-container {
      grid-template-columns: auto;
    }
  }

  
  #gallery-container .img5 {
    position: relative;
    left: 0%;
    top: -22%;
  }
  
  #gallery-container .img6 {
    position: relative;
    left: 0%;
    top: -29%;
  }
  #gallery-container .img7 {
    position: relative;
    left: 0%;
    top: -116%;
  }
  #gallery-container .img8 {
    position: relative;
    left: 0%;
    top: -46%;
  }
  #gallery-container .img9 {
    position: relative;
    left: 0%;
    top: -62%;
  }
  @media (max-width: 990px) {
    #gallery {
      padding: 1% 14% 0% 7%;
    }
    #gallery-container .img4 {
      position: relative;
      top: -51%;
      left: 0%;
    }
    #gallery-container .img5 {
      top: -5%;
      left: 0%;
    }
    #gallery-container .img6 {
      top: -24%;
      left: 0%;
    }
    #gallery-container .img7 {
      top: -6%;
      left: 0%;
    }
    #gallery-container .img8 {
      top: -54%;
      left: 0%;
    }
    #gallery-container .img9 {
      top: -52%;
      left: 103%;
    }
  }

  
  @media (max-width: 768px) {
    #services {
      padding: 4% 6% 0% 8%;
    }
    #gallery {
      padding: 1% 6% 0% 7%;
    }
    #gallery-container {
      grid-template-columns: auto;
    }
    #gallery-container .img4 {
      position: relative;
      top: -4%;
      left: 0%;
    }
    #gallery-container .img5 {
      top: -3%;
      left: 0%;
    }
  
    #gallery-container .img6 {
      top: -4%;
      left: 0%;
    }
    #gallery-container .img7 {
      top: -11%;
      left: 0%;
    }
    #gallery-container .img8 {
      top: -13%;
      left: 0%;
    }
    #gallery-container .img9 {
      top: -18%;
      left: 0%;
    }
  }
  
  /*----------------------------------------------------*/
  
  /* Footer */
  #footer {
    background: #515d6a;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
  }
  
  #footer .footer-top {
    margin-top: -5%;
    padding: 4% 0 0% 0;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  @media (max-width: 768px) {
    .footer-row {
      justify-content: flex-start;
      margin: 6%;
    }
    .footer-row div {
      padding-bottom: 7%;
    }
  }

  /* all info here */
  .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  .footer-info p {
    padding: 2% 0 11% 0;
  }



  .social-link {
    margin-top: 1rem;
  }
  
  .footer-col1 .social-link a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
  }
  
  .footer-col1 .social-link a:hover {
    background-color: #d9232d;
  }
  
  .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
    font-family: "Raleway", sans-serif;
  }
  .footer-top ul li a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    line-height: 1;
    font-family: "Raleway", sans-serif;
  
    padding: 10px;
  }
  
  .footer-top .footer-newsletter h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer-top .footer-newsletter p {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 90%;
  }
  
  .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 8px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  .footer-top .footer-newsletter .email {
    border: 0;
    padding: 4px;
    width: 70%;
  }
  .footer-top .footer-newsletter .subscribe {
    position: absolute;
    color: #fff;
    background-color: #d9232d;
    padding: 0px 25px 2px 25px;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    top: 0;
    bottom: 0;
    right: -2px;
    border: 0;
    width: 30%;
  }
  
  @media (max-width: 500px) {
    .footer-top .footer-newsletter .subscribe {
      display: flex;
      width: 40%;
      justify-content: center;
    }
  }
  
  .footer-down {
    position: absolute;
    background-color: #4a5562;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .footer-down .credits {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
  }
  .footer-down .credits a {
    color: rgba(255, 255, 255, 0.6);
  }
  